
<div class="clients container">
  <h1>WHAT SAYS CUSTOMERS</h1>
  <div class="contents-container">
    <div class="content current-to-next content1">
      <div class="person"> <img src="../../imgs/client-img1.png" alt="client1"/>
        <h2>Hannery</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page</p><i class="fa-solid fa-quote-left quote"></i>
      </div>
      <div class="person"> <img src="../../imgs/client-img2.png" alt="client2"/>
        <h2>Channery</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page</p><i class="fa-solid fa-quote-left quote"></i>
      </div>
    </div>
    <div class="content content2">
      <div class="person"> <img src="../../imgs/client-img1.png" alt="client1"/>
        <h2>Hannery</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page</p><i class="fa-solid fa-quote-left quote"></i>
      </div>
      <div class="person"> <img src="../../imgs/client-img2.png" alt="client2"/>
        <h2>Channery</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page</p><i class="fa-solid fa-quote-left quote"></i>
      </div>
    </div>
    <div class="content content3">
      <div class="person"> <img src="../../imgs/client-img1.png" alt="client1"/>
        <h2>Hannery</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page</p><i class="fa-solid fa-quote-left quote"></i>
      </div>
      <div class="person"> <img src="../../imgs/client-img2.png" alt="client2"/>
        <h2>Channery</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page</p><i class="fa-solid fa-quote-left quote"></i>
      </div>
    </div>
  </div>
  <div class="arrows">
     <i class="fa-solid fa-square-caret-left arrow-left main-arrow orang-arrow to-black"></i>
<i class="fa-solid fa-square-caret-right arrow-right main-arrow orang-arrow to-black"></i>
  </div>
</div>