.contact.container 
    h1 GET IN TOUCH
    .content 
        form(action="") 
            input(type="text", name="name", placeholder="Name")
            input(type="email", name="name", placeholder="Email")
            input(type="text", name="phone-num", placeholder="Phone Number")
            textarea(name="massage", placeholder="Massage") 
            input(type="submit", value="Send", class="main-button")