footer 
    img(src="../../imgs/logo.png", alt="logo")
    .content.container 
        .box.subsribe 
            h2 Subscribe Now
            p There are many variations of passages of Lorem Ipsum available.
            form(action="#")
                input(type="email", name="email", placeholder="Enter Your Email")
                input(type="submit", value="SUBSCRIBE" class="main-button orang-button to-white")
        .box.information 
            h2 Information
            p There are many variations of passages of Lorem Ipsum available, but the majority
        .box.links
            h2 Helpful Links
            p There are many variations of passages of Lorem Ipsum available, but the majority
        .box.invesments
            h2 Invesments
            p There are many variations of passages of Lorem Ipsum available, but the majority
        .box.contact-footer
            h2 Contact Us
            div 
                i(class="fa-solid fa-location-dot")
                p Location
            div 
                i(class="fa-solid fa-phone-flip")
                p (+71) 8522369417
            div 
                i(class="fa-solid fa-envelope")
                p demo@gmail.com
            .icons 
                i(class="fab fa-facebook-f")
                i(class="fa-brands fa-twitter")
                i(class="fa-brands fa-linkedin-in")
                i(class="fa-brands fa-instagram")
    .rights 
        p 2023 All Rights Reserved. Design by Free Html Templates Distributed By ThemeWagon