
<footer> <img src="../../imgs/logo.png" alt="logo"/>
  <div class="content container"> 
    <div class="box subsribe"> 
      <h2>Subscribe Now</h2>
      <p>There are many variations of passages of Lorem Ipsum available.</p>
      <form action="#">
        <input type="email" name="email" placeholder="Enter Your Email"/>
        <input class="main-button orang-button to-white" type="submit" value="SUBSCRIBE"/>
      </form>
    </div>
    <div class="box information"> 
      <h2>Information</h2>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
    </div>
    <div class="box links">
      <h2>Helpful Links</h2>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
    </div>
    <div class="box invesments">
      <h2>Invesments</h2>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
    </div>
    <div class="box contact-footer">
      <h2>Contact Us</h2>
      <div> <i class="fa-solid fa-location-dot"></i>
        <p>Location</p>
      </div>
      <div> <i class="fa-solid fa-phone-flip"></i>
        <p>(+71) 8522369417</p>
      </div>
      <div> <i class="fa-solid fa-envelope"></i>
        <p>demo@gmail.com</p>
      </div>
      <div class="icons"> <i class="fab fa-facebook-f"></i><i class="fa-brands fa-twitter"></i><i class="fa-brands fa-linkedin-in"></i><i class="fa-brands fa-instagram"></i></div>
    </div>
  </div>
  <div class="rights"> 
    <p>2023 All Rights Reserved. Design by Free Html Templates Distributed By ThemeWagon</p>
  </div>
</footer>