
<header> 
  <nav>
    <div class="container"> <a href=""><img class="logo" src="../../../imgs/logo.png"/></a><i class="fa-regular fa-rectangle-list list-icon"></i>
      <ul class="pages-links"> 
        <li><a href="homePage.html" target="">Home</a></li>
        <li><a href="aboutPage.html" target="">About</a></li>
        <li><a href="servicesPage.html" target="">Services</a></li>
        <li><a href="vehiclesPage.html" target="">Vehicles</a></li>
        <li><a href="clientsPage.html" target="">Client</a></li>
        <li><a href="contactPage.html" target="">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="header-contact"> 
    <div class="container"> <a href="#"><i class="fa-solid fa-location-dot"></i>
        <p>Location</p></a><a href="#"><i class="fa-solid fa-phone-flip"></i>
        <p>(+71) 8522369417</p></a><a href="#"><i class="fa-solid fa-envelope"></i>
        <p>demo@gmail.com</p></a></div>
  </div>
</header>