header 
    nav
        .container 
            a(href="")
                img(class="logo" src="../../imgs/logo.png")
            i(class="fa-regular fa-rectangle-list list-icon")
            ul.pages-links 
                li: a(href="homePage.html" target="") Home
                li: a(href="aboutPage.html" target="") About
                li: a(href="servicesPage.html" target="") Services
                li: a(href="vehiclesPage.html" target="") Vehicles
                li: a(href="clientsPage.html" target="") Client
                li: a(href="contactPage.html" target="") Contact
    .header-contact 
        .container 
            a(href="#")
                i(class="fa-solid fa-location-dot")
                p Location
            a(href="#")
                i(class="fa-solid fa-phone-flip")
                p (+71) 8522369417
            a(href="#")
                i(class="fa-solid fa-envelope")
                p demo@gmail.com



    
