
<div class="services"> 
  <div class="container"> 
    <h1>WHY CHOOSE US</h1>
    <div class="content"> 
      <div class="box"> <i class="fa-regular fa-gem"></i>
        <h3>Safety &amp; Security</h3>
        <p>variations of passages of Lorem Ipsum available, but the majority have</p>
      </div>
      <div class="box"> <i class="fa-regular fa-thumbs-up"></i>
        <h3>Online Booking</h3>
        <p>variations of passages of Lorem Ipsum available, but the majority have</p>
      </div>
      <div class="box"> <i class="fa-regular fa-id-badge"></i>
        <h3>Best Drivers</h3>
        <p>variations of passages of Lorem Ipsum available, but the majority have</p>
      </div>
    </div>
  </div>
</div>