include ../helpers/_mixins.pug
.services 
    .container 
        h1 WHY CHOOSE US
        .content 
            +servicesBox("fa-regular fa-gem", "Safety & Security")
            +servicesBox("fa-regular fa-thumbs-up", "Online Booking")
            +servicesBox("fa-regular fa-id-badge", "Best Drivers")

            //- <i class=></i>            +servicesBox(, )
