include ../helpers/_mixins.pug
.vehicle 
    h1 OUR BEST OFFERS
    .container
        +vehiclesCars("../../imgs/img-1.png")
        +vehiclesCars("../../imgs/img-2.png")
        +vehiclesCars("../../imgs/img-3.png")
        +vehiclesCars("../../imgs/img-1.png")
        +vehiclesCars("../../imgs/img-2.png")
        +vehiclesCars("../../imgs/img-3.png")
