@use '../helpers/varibles' as *;
footer {
    background-color: #{$backgroundColor};
    color: #{$FontColor};
    padding-top: 60px;
    padding-bottom: 10px;
    text-align: center;
    .content {
        display: flex;
        justify-content: space-between;
        text-align: left;
        flex-wrap: wrap;
        gap: 30px;
        padding-top: 30px;
        padding-bottom: 20px;
        @media (max-width: #{$mobile-size}) {
            flex-direction: column;
            text-align: center;
        }
        .box {
            flex-basis: 15%;
        }
        p {
            font-weight: 300;
            line-height: 1.3;
        }
        .subsribe {
            form {
                @media (max-width: #{$mobile-size}) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

            }
            input[type="email"] {
                background-color: transparent;
                border: none;
                font-size: 18px;
                font-weight: 300;
                margin-bottom: 20px;
                padding-bottom: 10px;
                border-bottom: 1px solid white;
                caret-color: #{$FontColor};
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: #{$FontColor};
                    @media (max-width: #{$mobile-size}) {
                        text-align: center;
                    }
                }
            }
            input[type="submit"] {
                float: right;
            }
        }
        .contact-footer {
            div {
                display: flex;
                align-items: center;
                @media (max-width: #{$mobile-size}) {
                    justify-content: center;
                }
                p {
                    margin-left: 10px;
                }
            }
            .icons {
                i {
                    color: #2e2e2e;
                    font-size: 20px;
                    padding: 10px;
                    background-color: white;
                    border-radius: 50%;
                    margin: 0 2px;
                    cursor: pointer;
                    transition: background-color .4s, color .4s .4s;
                    &:hover {
                        background-color: #{$mainColor};
                        color: #{$FontColor}
                    }
                }

            }
        }
    }
}