$mobile-size: 768px;
$tablet-size: 992px;
$desktop-size: 1200px;

// Colors
$mainColor: #fe5b29;
$backgroundColor: #363636;
$mainFontColor: #3b3b3b;
$textFontColor: #2d2d2d;
$FontColor: white;


$mainTransitionDuration: .3s;
$sectionPadding: 80px;


